@import '_variables.scss';
@import '/src/settings';

.welcome {
  margin-bottom: 3vw;
  @media screen and (max-width: 859px) {
    margin-bottom: 5rem;
    margin-top: 40px;
  }

  .welcome_header {
    position: relative;
    top: 3vw;
    left: -1.5vw;
    z-index: 3;
    width: 18rem;
    height: auto;
    margin-top: -4vw;
    @media screen and (max-width: 859px) {
      top: 5vw;
      left: -1rem;
      width: 24rem;
    }
    @media screen and (max-width: 576px) {
      top: 8vw;
    }
  }

  .welcome_message {
    padding: 0.5rem 0.8rem;
    margin: 0 8px;
    font-size: 0.75rem;
    // box-shadow: 0 0 0 10px #ffeaea;
    background: white;
    // background: #ffeaea;
    border: dashed 3px $main-color;
    border-radius: 4px;

    .welcome_link {
      text-align: center;

      a {
        font-size: 0.7rem;
        color: $main-color;
      }
    }

    .address_container {
      .address {
        margin: 0;
        font-size: 0.7rem;
        color: gray;

        &:last-child {
          padding-bottom: 5px;
          margin-bottom: 10px;
          border-bottom: 1px dashed lightgray;
        }

        .mail_icon {
          width: 1rem;
          margin-right: 4px;
          vertical-align: middle;
        }

        .twitter_icon {
          position: relative;
          top: -10px;
        }
      }
    }
  }
}

.ranking {
  padding-bottom: 40px;
  margin: 0;

  @media screen and (min-width: 860px) {
    position: sticky;
    position: -webkit-sticky;
    top: 100px;
  }

  @media screen and (max-width: 859px) {
    margin-top: 40px;
  }

  .ranking_header {
    position: relative;
    top: 4vw;
    left: -2vw;
    z-index: 3;
    width: 14rem;
    height: auto;
    margin-top: -4vw;
    @media screen and (max-width: 859px) {
      top: 6vw;
      left: -1.3rem;
      width: 17rem;
    }
    @media screen and (max-width: 576px) {
      top: 8vw;
    }
  }

  $reco_height: 90px;

  .reco_container {
    margin: 0 auto;

    .reco_item {
      height: $reco_height;
      margin: 1.7vw 8px;
      overflow: visible;

      .reco_thumbnail {
        position: relative;

        .reco_media {
          width: 100%;
          height: $reco_height;
          border-radius: 4px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 6px;

          .genre_icon_group {
            @include icon_position;

            .genre_icon {
              @include genre_icon;
            }
          }
        }

        p {
          @include title;

          font-size: 0.9rem;
          line-height: 20px;
          border-radius: 0 0 4px 4px;
        }
      }
    }
  }
}
