@import '/src/settings';
@import '/src/variables';

.article_container {
  position: relative;
  // padding: 3vw 0;
  padding: 4vw;
  margin: 0 2vw;
  background-color: white;

  .genre_icon_group {
    @include icon_position;

    .genre_icon {
      @include genre_icon;
    }
  }

  .welcome_content {
    .welcome_table_of_content {
      @include table-of-content-container;
      @include table-of-content-list;

      h2 {
        @include table-of-content-title;

        margin: 0;
      }
    }

    .welcome_image {
      padding: 0 1vw;
      margin: 0 1vw;
      border: 2px solid lightgray;
    }

    .icon_grid {
      display: grid;
      grid-template-columns: repeat(2, 50%);
      gap: 2vw;
      padding: 2vw;
      margin: 0 1vw;
      border: 2px solid lightgray;

      .flex {
        display: flex;

        .genre_icon {
          @include genre_icon;
        }

        p {
          height: 30px;
          padding-left: 2vw;
          margin: 0;
          line-height: 30px;
        }
      }
    }

    .twitter_container {
      margin-top: 4vw;

      .followme_header {
        position: relative;
        top: 40px;
        left: -2vw;
        z-index: 3;
        width: 12vw;
        margin-top: -40px;
      }

      .twitter_button {
        display: block;
        text-align: center;

        &:hover {
          text-decoration: none;
        }

        .twitter_id {
          position: relative;
          top: -10px;
          font-size: 4px;
          color: $sub-color;
        }
      }
    }
  }

  .option {
    display: flex;
    margin-bottom: 2vw;

    .date_container {
      margin-left: auto;
    }

    .location {
      font-size: 1.4vw;
    }
  }

  .article_header {
    position: relative;
    margin-bottom: 2vw;

    .header_image {
      width: 100%;
      overflow: hidden;
      border: 1px solid rgba(64, 87, 109, 0.07);
      border-radius: 4px;
    }

    .title_container {
      position: absolute;
      top: 60%;
      right: 0;
      width: calc(((100% - 264px)/12) * 5 + 102px);
      padding: 2vw;
      padding-right: 0;
      overflow: hidden;
      background: white;
      border-radius: 8px 0 0 8px;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);

      &::before {
        display: block;
        padding-top: 50%;
        content: '';
      }

      .article_title {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 0 2vw;
        padding-right: 0;

        .title {
          margin: 0;
          font-size: 2vw;
          font-weight: bold;
        }

        .overview {
          font-size: 0.8vw;
          color: gray;
        }
      }
    }
  }

  .share_button_group {
    margin-top: 10vh;
  }
}
