@import '/src/settings';

.slick-slider {
  padding: 0 1vw;
  margin: 0.5rem 4rem;
  margin-bottom: 4rem;
  border-bottom: 1px solid lightgray;

  @media screen and (max-width: 576px) {
    margin: 0.5rem 3.5rem;
    margin-bottom: 4rem;
  }

  :hover {
    cursor: pointer;
  }

  .hot_header {
    padding: 0 1vw;

    .article_header {
      margin-bottom: 0;

      .header_image {
        width: 100%;

        img {
          display: block;
          width: 100%;
          height: 24vw;
        }
      }

      .card_thumbnail {
        position: relative;

        p {
          @include title;

          line-height: 1.5rem;
        }
      }

      @media screen and (max-width: 576px) {
        .header_image {
          img {
            height: 50vw;
          }
        }

        .card_thumbnail {
          p {
            line-height: 2.5rem;
          }
        }
      }

      .title_container {
        padding: 3vw;

        .title {
          font-size: 1.1vw;
        }

        .overview {
          font-size: 0.3vw;
        }

        .text-overflow {
          display: -webkit-box;
          overflow: hidden;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
      }
    }
  }

  .slick-prev::before,
  .slick-next::before {
    color: gray;
  }

  @media screen and (max-width: 576px) {
    .slick-prev {
      left: -20px;
    }

    .slick-next {
      right: -20px;
    }
  }
}
