.slick-slider {
  padding: 0 2vw;
  margin: 1vw 8vw;
  margin-bottom: 3vw;
  border-bottom: 1px solid lightgray;

  :hover {
    cursor: pointer;
  }

  .hot_header {
    padding: 0 2vw;

    .article_header {
      margin-bottom: 0;

      .header_image {
        width: 100%;

        img {
          display: block;
          width: 100%;
          height: 20vw;
        }
      }

      .title_container {
        .title {
          font-size: 1.1vw;
        }

        .overview {
          font-size: 0.5vw;
        }

        .text-overflow {
          display: -webkit-box;
          overflow: hidden;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
      }
    }
  }

  .slick-prev::before,
  .slick-next::before {
    color: gray;
  }
}
