@import '/src/settings';

.button_group {
  margin-bottom: 3vw;
  @media screen and (max-width: 859px) {
    margin-bottom: 5vw;
  }

  .MuiTab-textColorInherit {
    &:hover {
      @include selected-color;
    }

    &.Mui-selected {
      @include selected-color;

      font-weight: bold;
    }
  }

  .MuiTabs-flexContainer {
    flex-wrap: wrap;

    .MuiTab-root {
      flex: 1;
      min-width: auto;

      @media screen and (max-width: 576px) {
        min-width: calc(100% / 5);
      }

      padding: 0.5vw 1vw;
      font-size: 0.6rem;
    }
  }

  .PrivateTabIndicator-colorSecondary-3 {
    background-color: $main-color;
  }
}
