@import '/src/settings';

.card_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 2.5rem 20px;
  padding: 10px 20px;
  @media screen and (min-width: 860px) {
    margin: 0 20px;
    // margin-right: 25px;
  }

  .MuiPaper-elevation1 {
    box-shadow: none;
  }

  .card_item {
    position: relative;
    overflow: visible;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 1px 3px;

    // stylelint-disable-next-line no-descending-specificity
    .genre_icon_group {
      @include icon_position;
      // stylelint-disable-next-line no-descending-specificity
      .genre_icon {
        @include genre_icon;
      }
    }

    .article_tags {
      height: 20px;

      @include article-tags;
    }

    .card_thumbnail {
      position: relative;

      .card_media {
        height: 0;
        padding-top: 70%;
        border-radius: 4px 4px 0 0;
      }

      p {
        @include title;
      }
    }

    .card_subtitle {
      display: -webkit-box;
      padding: 0 12px;
      overflow: hidden;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;

      h3 {
        height: 40px;
        margin-bottom: 0;
        font-size: 0.9rem;
        color: #6c6c6c;
      }
    }

    .card_footer {
      float: right;
      height: 5vh;
    }
  }
}
