@mixin title {
  position: absolute;
  bottom: 0.5vw;
  left: 1vw;
  margin: 0;
  font-weight: bold;
  color: whitesmoke;
}

@import '/src/settings';

$reco_height: 60px;

.reco_container {
  padding: 0.5vw 1vw;
  margin: 0 auto;

  .reco_item {
    height: $reco_height;
    margin: 20px 10px;
    overflow: visible;

    .reco_thumbnail {
      position: relative;

      .reco_media {
        width: 100%;
        height: $reco_height;
        border-radius: 4px;

        .genre_icon_group {
          @include icon_position;

          .genre_icon {
            @include genre_icon;
          }
        }
      }

      p {
        @include title;

        font-size: 0.9em;
      }
    }
  }
}

.card_container {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  align-items: center;
  justify-content: center;
  padding: 10px;

  .card_item {
    position: relative;
    width: clamp(200px, 200px + 3vw, 350px);
    margin: 10px;
    overflow: visible;

    // stylelint-disable-next-line no-descending-specificity
    .genre_icon_group {
      @include icon_position;
      // stylelint-disable-next-line no-descending-specificity
      .genre_icon {
        @include genre_icon;
      }
    }

    .card_thumbnail {
      position: relative;

      .card_media {
        height: 0;
        padding-top: 70%; // 16:9
      }

      p {
        @include title;
      }
    }

    .card_footer {
      float: right;
      height: 5vh;

      .date {
        font-size: 0.9vw;
      }
    }
  }
}
