@import '/src/settings';

.form_container {
  display: flex;
  margin: 20px;

  .button_group {
    display: flex;
    padding: 0;
    margin: 0;
    margin-left: auto;

    .genre_icon {
      padding: 5px;
      border-radius: 50%;

      @include icon_color;
    }
  }

  .search_form {
    margin: 0 auto;
  }
}
