@import '_variables.scss';

.body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;

  a {
    color: rgb(0, 78, 204);
    text-decoration: none;
  }

  .date {
    color: gray;
  }

  .sub_font {
    font-family: “Quicksand”, “Avenir”, “Arial”, “BIZ UDGothic”, “Hiragino Kaku Gothic ProN”, YuGothic, “Yu Gothic”, “Hiragino Sans”, “ヒラギノ角ゴシック”, “メイリオ”, Meiryo, sans-serif;
  }

  header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 20;
    height: clamp(100px, 100px + 1vw, 200px);
    padding: 2vw;
    background: $main-color;
  }

  .container {
    display: flex;
    flex: 1;
    padding: 8vh 0;
    background: whitesmoke;

    main {
      flex: 1;
    }

    aside {
      display: flex;
      flex-direction: column;
      width: 300px;
      padding: 0 10px;
    }
  }

  footer {
    height: clamp(100px, 100px + 1vw, 150px);
    padding: 2vw;
    background: rgb(201, 255, 201);
  }

  .summary_box {
    margin: 2vw 0;
    border: solid 2px $main-color;

    .box_title {
      position: relative;
      top: -2px;
      display: inline-block;
      padding: 2px 9px;
      font-size: 1.5vw;
      font-weight: bold;
      line-height: 1.5;
      color: #fff;
      background: $main-color;
    }

    .box_content {
      padding: 2vw;
    }
  }

  .chapter {
    padding: 1rem 2rem;
    font-size: 1.5vw;
    font-weight: bold;
    border-left: 4px solid $main-color;
  }

  .hint {
    position: relative;
    padding: 21px 15px 21px 45px;
    margin: 1.5rem 0;
    font-size: 14.5px;
    line-height: 1.6;
    color: rgba(0, 0, 0, 0.65);
    background: #fff6e4;
    border-radius: 6px;

    &::before {
      position: absolute;
      top: 50%;
      left: 15px;
      display: block;
      width: 20px;
      height: 20px;
      font-size: 13px;
      font-weight: 700;
      line-height: 20px;
      color: #fff;
      text-align: center;
      content: '!';
      background: #ffb84c;
      border-radius: 50%;
      transform: translateY(-52%);
    }
  }

  .hint.warn {
    background: #ffeff2;

    &::before {
      background: #ff7670;
    }
  }
}
